name: Fetch capitoltheatre-ca Events

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 1 * *' # Runs at 00:00 UTC, on day 1 of the month
      
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "capitoltheatre-ca"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/capitoltheatre-events.jsonld"
          page-url: "https://capitoltheatre.ca/events/list/?tribe_paged="
          entity-identifier: "h3.tribe-events-list-event-title a"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: ${{ vars.TEST_VARIABLE }}