name: Fetch KIAC Events

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 4 * *'
      
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "kiac-ca"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/kiac-events.jsonld"
          page-url: "https://kiac.ca/calendar-of-events/"
          entity-identifier: "div.tribe-events-pro-photo__event-featured-image-wrapper a"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: |
            ${{ secrets.CLOUDFLARE_PRIVATE_KEY }}
