name: Fetch LeVivier Events

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * 2'
      
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "levivier-ca"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/levivier-events.jsonld"
          page-url: "https://levivier.ca/fr"
          entity-identifier: "div.cont-even a"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: ${{ secrets.CLOUDFLARE_PRIVATE_KEY }}
