name: Fetch Saskatoon Symphony Events

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 2'
      
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "saskatoonsymphony-org"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/saskatoonsymphony-events.jsonld"
          page-url: "https://saskatoonsymphony.org/season/"
          entity-identifier: "div.vem-more-details a"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: |
            ${{ secrets.CLOUDFLARE_PRIVATE_KEY }}
