name: Fetch spec.qc.ca Events

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 3'
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "spec-qc-ca-events"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/spec-qc-ca-events.jsonld"
          page-url: "https://spec.qc.ca/programmation"
          entity-identifier: "div.programmation-programmation__results a"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: ${{ secrets.CLOUDFLARE_PRIVATE_KEY }}
