name: placedesarts-com - spider test

on:
  workflow_dispatch:

jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "placedesarts-com"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          page-url: "https://www.placedesarts.com"
          token: "${{ secrets.GITHUB_TOKEN }}"
