name: Fetch theplayhouse-ca Events - spider test

on:
  workflow_dispatch:
    
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "theplayhouse-ca"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          page-url: "https://theplayhouse.ca"
          token: "${{ secrets.GITHUB_TOKEN }}"
          custom-databus-url: "http://staging.api.artsdata.ca/databus/"
