name: Fetch Totem Events

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 */6 *'
      
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "totemcontemporain-com"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/totem-events.jsonld"
          page-url: "https://totemcontemporain.com/fr/calendrier"
          entity-identifier: "h3.picto.padding-bottom-12 a"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: ${{ secrets.CLOUDFLARE_PRIVATE_KEY }}
