name: Fetch YardBird Events

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 */6 *'
      
jobs:
  artsdata-fetch-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Action setup
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "fetch-push"
          artifact: "yardbirdsuite-com"
          publisher: "${{ secrets.PUBLISHER_URI_GREGORY }}"
          downloadFile: "output/yardbirdsuite-events.jsonld"
          page-url: "https://yardbirdsuite.com/espresso_events-sitemap.xml"
          entity-identifier: "loc"
          token: "${{ secrets.GITHUB_TOKEN }}"
          cloudflare-private-key: |
            ${{ secrets.CLOUDFLARE_PRIVATE_KEY }}

